.containerRegister {
  background-color: #FFFFFF;
  width: 423px;
  height: 591px;
}

.button-register {
  width: 112px;
  height: 40px;
}

.titleRegister {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}
