<div>
  <div class="d-flex justify-content-center mb-5 mt-5">Agregar doctor</div>
  <div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight">
      <mat-form-field appearance="outline" class="text-box">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Nombres">
        <mat-icon matSuffix>highlight_off</mat-icon>
      </mat-form-field>
    </div>
    <div class="p-2 bd-highlight">
      <mat-form-field appearance="outline" class="text-box">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos">
        <mat-icon matSuffix>highlight_off</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight">
      <mat-form-field appearance="outline"  class="text-box">
        <mat-label>Especialidad</mat-label>
        <input matInput placeholder="Especialidad">
        <mat-icon matSuffix>highlight_off</mat-icon>
      </mat-form-field>
    </div>
    <div class="p-2 bd-highlight">
      <mat-form-field appearance="outline"  class="text-box">
        <mat-label>Contacto</mat-label>
        <input matInput placeholder="Contacto">
        <mat-icon matSuffix>highlight_off</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-center p-5 ">
    <div class="bd-highlight">
      <mat-form-field appearance="outline" class="text-area">
        <mat-label>Perfil</mat-label>
        <textarea matInput placeholder="Perfil"></textarea>
        <mat-icon matSuffix>highlight_off</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight">
      <button mat-raised-button color="primary" class="rounded-button">Agregar</button>
    </div>
  </div>

</div>
